* {
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

:root {
    --font: Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif;
    --background: rgb(249, 248, 247);
    --text-color: rgba(9, 9, 9, 0.5);
    --font-size: 18px;
    --button-color: rgb(103, 99, 209);
    --hover: black;
    --hover2: rgb(112, 109, 207);
    /* --button-text:var(--background); */
}

body {
    background-color: var(--background);
    font-family: var(--font);
    font-size: var(--font-size);
    width: 100%;
    box-sizing: border-box;
}

body header {
    position: sticky;
    top: 0px;
    z-index: 1;
    opacity: 0.90;
}

body header nav {
    background: var(--background);
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;

}

body header nav .logo img {
    width: 110px;
    height: 90px;
    filter: opacity(.75);
}

body header nav .links {
    display: flex;
    align-items: center;
    gap: 40px;
}

body header nav .links a {
    text-decoration: none;
    padding: 5px;
    padding-bottom: 10px;
}

body header nav .links a:hover {
    color: var(--hover);
    border-bottom: 4px solid var(--button-color);
}

/* button */
body header nav .links .contact {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    padding: 10px 15px;
    border: 2px solid var(--button-color);
    border-radius: 10px;
    box-sizing: border-box;
    transition-duration: 1s;

    background-color: var(--background);
    color: var(--button-color);
    box-shadow: 0 0 30px var(--button-color);
}

body header nav .links .contact svg {
    stroke: var(--button-color) !important;
    transition-duration: 1s;

}

body header nav .links .contact:hover {
    background-color: var(--button-color);
    color: var(--hover);
    border: 2px solid var(--hover);
    transition-duration: 1s;
    box-shadow: 0 0 50px 10px var(--button-color);
}

body header nav .links .contact:hover svg {
    stroke: var(--hover) !important;
    transition-duration: 1s;
}



/* grid */
body main {
    display: grid;
    grid-template-areas: "home"
        "about"
        "skills"
        "projects"
        "experience"
        "services"
        "contact";
    width: 100%;
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;
}


/* home */
body main #home {
    grid-area: home;
    width: 100%;
    height: 90vh;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
}

body main #home .info span .text h1:first-child {
    font-size: 40px;
    font-weight: 500;
    color: var(--hover);
}

body main #home .info span .text h1:last-child {
    font-size: 80px;
    font-weight: 600;
    color: var(--button-color);
    padding-bottom: 10px;
}

body main #home .info span .skill h5:nth-child(odd) {
    color: var(--hover);
}

body main #home .info span .skill h5:nth-child(even) {
    color: var(--button-color);
    font-weight: 900;
}

body main #home .info span .skill h5 {
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
}

body main #home .info .paragraph p:first-child {
    font-size: 30px;
    padding-bottom: 20px;
    color: var(--button-color);
}

body main #home .info .paragraph p:last-child {
    line-height: 40px;
}

body main #home .info {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* padding-left: 50px; */
    justify-content: space-evenly;
}

body main #home .image {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}

body main #home .image img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    object-fit: fill;
    opacity: 0.85;
}

body main #home .info .buttons {
    display: flex;
    gap: 20px;
}

body main #home .info .buttons .btn {
    text-decoration: none;
    color: var(--hover);
    font-size: var(--font-size);

    width: 180px;
    height: 70px;
    padding: 5px 10px;
    box-sizing: border-box;

    gap: 10px;
    border: 2px solid var(--text-color);
    border-radius: 10px;
    background-color: var(--background);

    display: flex;
    align-items: center;
    justify-content: center;
}

body main #home .info .buttons .btn svg {
    stroke: var(--hover) !important;
}

body main #home .info .buttons .btn:hover svg {
    stroke: var(--hover) !important;
}

body main #home .info .buttons .btn:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 30px var(--button-color);
    background-color: var(--background);
    color: var(--hover);
    border: 2px solid var(--button-color);
}

body main #home .info .buttons .projects {
    background-color: var(--button-color);
    border: none;
}

body main #home .info .buttons .projects:hover {
    color: var(--hover);
    background-color: var(--hover2);
    border: none;
}

body main #home .info .buttons .projects:hover svg {
    stroke: var(--hover) !important;
}



/* about */
body main #about {
    grid-area: about;
    padding-top: 150px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 80% 20%;
    width: 99%;
    height: 90vh;
    box-sizing: border-box;
    gap: 15px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

body main #about .left {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 99%;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid var(--text-color);
    border-radius: 10px;
}

body main #about .left h2 {
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    font-size: 50px;
    border-bottom: 2px solid var(--text-color);
    color: var(--button-color);
    text-shadow: 0px 0px 50px var(--hover2);
}

body main #about .left h3 {
    padding: 20px 30px;
    color: var(--hover);
    font-size: 20px;
}

body main #about .left h3:nth-child(3) {
    text-align: center;
}

body main #about .left .info h4,
p {
    display: inline-block;
    padding: 15px 30px;
}

body main #about .left .info h4 {
    color: var(--button-color);
    font-size: 28px;
}

body main #about .left .info p {
    color: var(--hover);
    font-size: 24px;
}

body main #about .left .info {
    padding: 0px 50px;
}

body main #about .right {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 99%;
    height: 99%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    margin: 10px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

body main #about .right .box {
    width: 90%;
    height: 90%;
    border: 2px solid var(--text-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px 5px var(--button-color);
    align-items: center;
    text-align: center;
}

body main #about .right .box:hover {
    border: 4px solid var(--button-color);
    box-shadow: 0px 0px 30px 10px var(--button-color);

}

body main #about .right .box:hover h2 {
    color: var(--button-color);
}

body main #about .right .box:hover p {
    color: var(--hover);
}

body main #about .right .box h2 {
    font-size: 50px;
    color: var(--hover);
}

body main #about .right .projectnumber {
    grid-column: 1/2;
    grid-row: 1/2;
}

body main #about .right .technologies {
    grid-column: 2/3;
    grid-row: 1/2;
}

body main #about .right .codingyears {
    grid-column: 1/2;
    grid-row: 2/3;
}

body main #about .right .activeprojects {
    grid-column: 2/3;
    grid-row: 2/3;
}

body main #about .down {
    grid-column: 1/3;
    grid-row: 2/3;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid var(--button-color);
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 20px;
    box-sizing: border-box;
}

body main #about .down .text h3 {
    color: var(--hover);
    font-size: 24px;
    padding-bottom: 10px;
}

body main #about .down .image {
    border: 2px solid var(--button-color);
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}

body main #about .down .image svg {
    stroke: var(--hover2);
}

/* skills */
body main #skills {
    grid-area: skills;
    width: 100%;
    height: 100vh;
    padding: 50px;
    padding-top: 150px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;

}

body main #skills .background {
    object-fit: cover;
    grid-column: 1/3;
    grid-row: 1/3;
}

body main #skills .background img {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: -1;
    border-radius: 50px;
    filter: opacity(0.15);

}

@keyframes scaling {
    from {

        transform: scale(1, 1);
    }

    to {
        transform: scale(2, 2);
    }
}

body main #skills .box {
    height: 200px;
    width: 300px;
    border: 2px solid var(--hover);
    background-color: var(--background);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 5px var(--button-color);
}

body main #skills .box h2 {
    font-size: 28px;
    padding: 10px;
    color: var(--hover);
}

body main #skills .box h6 {
    font-size: 12px;
    padding: 6px 10px;
}

body main #skills .box:hover {
    animation: scaling 1s linear forwards;
    border: 5px solid var(--hover2);
    box-shadow: 0px 0px 30px 10px var(--button-color);
}

body main #skills .box:hover h2 {
    color: var(--hover2);
}

body main #skills .box:hover h6 {
    color: var(--hover);
}

body main #skills .programming {
    grid-column: 1/2;
    grid-row: 1/2;
    top: 20px;
    /* background-color: aqua; */
    justify-self: center;
    align-self: center;
}

body main #skills .web {
    grid-column: 2/3;
    grid-row: 1/2;
    top: 40px;
    /* background-color: bisque; */
    justify-self: center;
    align-self: center;
}

body main #skills .tools {
    grid-column: 1/2;
    ;
    grid-row: 2/3;
    /* background-color: burlywood; */
    justify-self: center;
    align-self: center;
}

body main #skills .specialized {
    grid-column: 2/3;
    grid-row: 2/3;
    /* background-color: #939F5C; */
    justify-self: center;
    align-self: center;
}

body main #skills .specialized:hover h2 {
    text-indent: 80px;
    transition-duration: 1s;
}

body main #skills .heading {
    width: 250px;
    height: 150px;
    box-sizing: border-box;
    padding: 10px;
    grid-column: 1/3;
    grid-row: 1/3;
    z-index: 1;
    justify-self: center;
    align-self: center;
    border: 2px solid var(--button-color);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: var(--button-color);
    box-shadow: 0px 0px 40px 10px var(--button-color);
}

body main #skills .heading:hover {
    box-shadow: 0px 0px 60px 20px var(--button-color);
}

body main #skills .heading h2 {
    color: var(--hover);
}

body main #skills .web:hover h6:last-child {
    text-indent: 80px;
    transition-duration: 1s;
}

/* projects */
body main #projects {
    grid-area: projects;
    width: 100%;
    height: 100vh;
    padding: 50px;
    padding-top: 130px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 30px;
    justify-content: center;
    align-content: center;
}

body main #projects .box .svg svg {
    stroke: var(--button-color);
    width: 50px;
    height: 50px;
    border: 2px solid var(--button-color);
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0px 0px 20px 5px var(--button-color);
    box-sizing: border-box;
}

body main #projects .box .content {
    width: 100%;
    height: 90%;
    padding-top: 10px;
    box-sizing: border-box;
    border-bottom: 2px dashed var(--text-color);
}

body main #projects .box .content h2 {
    color: var(--hover);
    font-size: 24px;
}

body main #projects .box {
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    padding: 40px;
    border-radius: 20px;
    box-sizing: border-box;
    background: linear-gradient(to right bottom, var(--background), var(--button-color));
    filter: brightness(0.8);
}

body main #projects .box:hover {
    background: linear-gradient(to left top, var(--background), var(--button-color));
}

body main #projects .box:hover .svg svg {
    stroke: var(--background);
    border: 2px solid var(--background);
    box-shadow: 0px 0px 20px 5px var(--background);
}

body main #projects .box:hover .content h2 {
    color: var(--hover);
}

body main #projects .box .explore {
    align-self: flex-end;
    color: var(--hover);
    box-sizing: border-box;
    width: 150px;
    height: 50px;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

body main #projects .box .explore a {
    font-size: 22px;
    text-decoration: none;
    color: var(--hover);
}

body main #projects .box:hover .explore a {
    color: var(--button-color);
}

body main #projects .box .explore a svg {
    width: 22px;
    height: 22px;
    fill: var(--hover);
}

body main #projects .box:hover .explore a svg {
    fill: var(--button-color);
}

/* experience */
body main #experience {
    grid-area: experience;
    width: 100%;
    height: 100vh;
    padding: 50px;
    padding-top: 150px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

body main #experience::before {
    content: "";
    position: absolute;
    height: 90%;
    width: 100%;
    inset: 0;
    background-image: url("bge.jpg");
    background-size: cover;
    background-position: center;
    align-self: flex-end;
    opacity: 0.15;
    filter: brightness(0.4);
    z-index: -1;
    box-sizing: border-box;
    border-radius: 40px;
}

body main #experience h2 {
    color: var(--hover2);
    font-size: 50px;
    border: 2px solid var(--button-color);
    border-radius: 10px;
    padding: 3px 20px;
    margin-bottom: 30px;
    box-sizing: border-box;
    box-shadow: 0px 0px 30px 5px var(--hover2);
    opacity: 0.75;
}

body main #experience .item {
    padding: 40px;
    height: 12%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    gap: 20px;
    justify-items: center;
}

body main #experience .item .svg {
    width: 40%;
    box-sizing: border-box;
    align-self: center;
    position: relative;
    left: 15%;
    display: flex;
    align-items: center;
}

body main #experience .item .svg:hover svg {
    fill: var(--hover2);
    border: 2px solid var(--hover2);
    box-shadow: 0px 0px 20px var(--button-color);

}

body main #experience .item .svg:hover p {
    text-shadow: 0px 0px 20px var(--hover);
}

body main #experience .item .svg svg {
    width: 24px;
    height: 24px;
    padding: 20px;
    fill: var(--button-color);
    position: relative;
    border: 2px solid var(--button-color);
    border-radius: 20px;
    box-shadow: 0px 0px 20px var(--button-color);

}

body main #experience .item .svg svg:hover {
    fill: var(--hover2);
    border: 2px solid var(--hover2);
    box-shadow: 0px 0px 50px var(--button-color);

}

body main #experience .item .svg p {
    color: var(--button-color);
    text-shadow: 0px 0px 10px var(--hover);
}

body main #experience .item .svg p:hover {
    text-shadow: 0px 0px 20px var(--hover);
}

body main #experience .item .content {
    width: 60%;
    box-sizing: border-box;
    align-self: center;
    position: relative;
    left: 5%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

body main #experience .item .content h3 {
    font-size: 30px;
    color: var(--hover);
    font-weight: 600;
}


/* services */
body main #services {
    grid-area: services;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding-top: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 100px;
    gap: 10px;
}

body main #services::before {
    content: "";
    position: absolute;
    height: 90%;
    width: 100%;
    inset: 0;
    background-image: url("service.avif");
    background-size: cover;
    background-position: center;
    align-self: flex-end;
    opacity: 0.40;
    filter: brightness(0.4);
    z-index: -1;
    box-sizing: border-box;
    border-radius: 40px;
}

body main #services h3 {
    color: var(--hover);
    font-size: 30px;
    font-weight: 500;
}

body main #services .content {
    display: flex;
    flex-direction: column;
}

body main #services .content h4 {
    font-size: 20px;
    color: var(--button-color);
}

body main #services .content svg {
    stroke: var(--button-color);
}



/* contact */
body main #contact {
    grid-area: contact;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 50px;
    padding-top: 150px;
    display: flex;
}

body main #contact .left {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
}

body main #contact .left .heading {
    width: 70%;
    height: 15%;
}

body main #contact .left .heading h3 {
    color: var(--button-color);
    font-size: 2em;
    font-weight: 500;
    text-shadow: 0px 0px 10px var(--button-color);
}

body main #contact .left form {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 80%;
    box-sizing: border-box;
    border: 2px solid var(--button-color);
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: linear-gradient(to right, var(--background) 0%, var(--button-color) 50%, var(--background) 100%);
}

body main #contact .left form .input {
    display: flex;
    flex-direction: column;
}

body main #contact .left form .input input {
    width: 400px;
    height: 50px;
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid var(--button-color);
    border-radius: 20px;
    background-color: var(--background);
    color: var(--hover);
    font-size: 20px;
}

body main #contact .left form .message #message {
    width: 400px;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid var(--button-color);
    border-radius: 10px;
    background-color: var(--background);
    color: var(--hover);
    padding-bottom: 70px;
    overflow-x: auto;
}

body main #contact .left form label {
    text-indent: 10px;
    font-size: var(--font-size);
    color: var(--text-color);
}

body main #contact .left form .button button {
    align-self: center;
    width: 180px;
    height: 50px;
    margin-top: 20px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid var(--hover);
    border-radius: 30px;
    background-color: var(--button-color);
    color: var(--hover);
    font-size: var(--font-size);
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px 2px var(--background);

}

body main #contact .left form .button:hover button {
    color: var(--background);
    background-color: var(--hover2);
    border: 2px solid var(--background);
    cursor: pointer;
    box-shadow: 0px 0px 20px 2px var(--text-color);
}

body main #contact .left form .button svg {
    stroke: var(--hover);
}

body main #contact .left form .button:hover svg {
    stroke: var(--background);
}

body main #contact .right {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body main #contact .right .email {
    height: 50%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body main #contact .right .email h3 {
    color: var(--hover);
}

body main #contact .right .email h3 svg {
    stroke: var(--button-color);
}

body main #contact .right .email h3 svg,
h3 {
    display: inline-block;
    padding: 0px 15px;
}

body main #contact .right .email a {
    height: 50px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    box-sizing: border-box;
}

body main #contact .right .email a:hover {
    color: var(--button-color);
}

body main #contact .right .links {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
    justify-content: center;
}

body main #contact .right .links .link {
    background-color: var(--background);
}

body main #contact .right .links .link a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--text-color);
    box-sizing: border-box;
    padding: 2px;
}

body main #contact .right .links .link a .name {
    color: var(--text-color);
}

body main #contact .right .links .link a .name p {
    font-size: 24px;
}

body main #contact .right .links .link a span svg {
    stroke: var(--text-color);
}

body main #contact .right .links .link:hover .name p {
    color: var(--button-color);
}

body main #contact .right .links .link:hover span svg {
    stroke: var(--button-color);
}

body main #contact .right .links .link a:hover {
    border-color: var(--button-color);
    transform: translateY(-7px);
    transition-duration: 0.5s;
}

body footer {
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    border-top: 1px solid var(--button-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer img {
    width: 70px;
    height: 60px;
}
































@media (max-width:1250px) {
    :root {
        --font: Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif;
        --background: rgb(250, 249, 248);
        --text-color: rgba(9, 9, 9, 0.5);
        --font-size: 16px;
        --button-color: rgb(249, 164, 4);
        --hover: black;
        --hover2: rgb(250, 189, 75);
        /* --button-text:var(--background); */
    }

    /* grid */

    /* home */
    body main #home .info span .text h1:first-child {
        font-size: 40px;
        font-weight: 500;
        color: var(--hover);
    }

    body main #home .info span .text h1:last-child {
        font-size: 80px;
        font-weight: 600;
        color: var(--button-color);
        padding-bottom: 10px;
    }

    body main #home .info span .skill h5 {
        font-size: 20px;
        font-weight: 500;
        display: inline-block;
    }

    body main #home .info .paragraph p:first-child {
        font-size: 30px;
        padding-bottom: 20px;
        color: var(--button-color);
    }

    body main #home .info .paragraph p:last-child {
        line-height: 30px;
    }

    /* about */
    body main #about .left h2 {
        padding: 10px;
        box-sizing: border-box;
        font-size: 50px;
    }

    body main #about .left h3 {
        padding: 20px 30px;
        font-size: 20px;
    }

    body main #about .left .info h4,
    p {
        display: inline-block;
        padding: 5px;
    }

    body main #about .left .info h4 {
        font-size: 20px;
    }

    body main #about .left .info p {
        font-size: 18px;
    }

    body main #about .left .info {
        padding: 0px 50px;
    }

    body main #about .down {
        gap: 5px;
        padding-left: 20px;
    }

    body main #about .down .text h3 {
        font-size: 22px;
        padding-bottom: 3px;
    }

    body main #about .down .image {
        padding: 10px;
    }

    /* skills */
    body main #skills .box {
        height: 200px;
        width: 300px;
    }

    body main #skills .box h2 {
        font-size: 26px;
        padding: 10px;
    }

    body main #skills .box h6 {
        font-size: 12px;
        padding: 6px 10px;
    }

    body main #skills .web:hover h6:last-child {
        text-indent: 0px;
        transition-duration: 0s;
    }

    body main #skills .specialized:hover h2 {
        text-indent: 120px;
        transition-duration: 1s;
    }

    body main #skills .heading {
        width: 250px;
        height: 150px;
        padding: 10px;
        font-size: 30px;
    }

    /* projects */
    body main #projects {
        gap: 30px;
    }

    body main #projects .box .svg svg {
        width: 50px;
        height: 50px;
        padding: 5px;
    }

    body main #projects .box .content {
        width: 100%;
        height: 90%;
        padding-top: 10px;
    }

    body main #projects .box .content h2 {
        font-size: 24px;
    }

    body main #projects .box {
        padding: 40px;
    }

    /* experience */
    body main #experience {
        gap: 20px;
    }

    body main #experience h2 {
        font-size: 50px;
        padding: 3px 20px;
        margin-bottom: 30px;
    }

    body main #experience .item {
        padding: 40px;
        height: 12%;
        width: 100%;
        gap: 20px;
    }

    body main #experience .item .svg {
        width: 40%;
        left: 15%;
    }

    body main #experience .item .svg svg {
        width: 24px;
        height: 24px;
        padding: 20px;
    }

    body main #experience .item .content {
        width: 60%;
        left: 5%;
    }

    body main #experience .item .content h3 {
        font-size: 26px;
    }

    /* services */
    body main #services {
        gap: 10px;
    }

    body main #services h3 {
        font-size: 30px;
        font-weight: 500;
    }

    body main #services .content h4 {
        font-size: 20px;
    }

    /* contact */
    body main #contact .left {
        width: 70%;
        height: 100%;
    }

    body main #contact .left .heading {
        width: 70%;
        height: 15%;
    }

    body main #contact .left .heading h3 {
        font-size: 2em;
    }

    body main #contact .left form {
        width: 90%;
        height: 80%;
    }

    body main #contact .left form .input input {
        width: 400px;
        height: 50px;
        margin: 5px;
        padding: 10px;
        font-size: 20px;
    }

    body main #contact .left form .message #message {
        width: 400px;
        margin: 10px;
        padding: 20px;
        padding-bottom: 70px;
    }

    body main #contact .left form .button button {
        width: 180px;
        height: 50px;
        margin-top: 20px;
        padding: 10px;
        gap: 10px;
    }

    body main #contact .right .email {
        height: 50%;
        width: 100%;
    }

    body main #contact .right .email h3 svg,
    h3 {
        display: inline-block;
        padding: 0px 15px;
    }

    body main #contact .right .email a {
        height: 50px;
        width: 100%;
        padding: 10px;
    }

    body main #contact .right .links {
        height: 50%;
        width: 100%;
        gap: 10px;
    }

    body main #contact .right .links .link a {
        width: 100%;
        padding: 2px;
    }

    body main #contact .right .links .link a .name p {
        font-size: 24px;
    }
}












@media (max-height:800px) {
    :root {
        --font: Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif;
        --background: rgb(255, 254, 252);
        --text-color: rgba(9, 9, 9, 0.5);
        --font-size: 14px;
        --button-color: rgb(39, 211, 254);
        --hover: black;
        --hover2: rgb(79, 240, 249);
        /* --button-text:var(--background); */
    }

    body main #home .info span .text h1:first-child {
        font-size: 40px;
        font-weight: 500;
        color: var(--hover);
    }

    body main #home .info span .text h1:last-child {
        font-size: 80px;
        font-weight: 600;
        color: var(--button-color);
        padding-bottom: 10px;
    }

    body main #home .info span .skill h5 {
        font-size: 20px;
        font-weight: 500;
        display: inline-block;
    }

    body main #home .info .paragraph p:first-child {
        font-size: 30px;
        padding-bottom: 20px;
        color: var(--button-color);
    }

    body main #home .info .paragraph p:last-child {
        line-height: 30px;
    }

    /* about */
    body main #about .left h2 {
        text-align: center;
        padding: 5px;
        box-sizing: border-box;
        font-size: 40px;
        border-bottom: 2px solid var(--text-color);
        color: var(--button-color);
        text-shadow: 0px 0px 50px var(--hover2);
    }

    body main #about .left h3 {
        padding: 10px 20px;
        color: var(--hover);
        font-size: 18px;
    }

    body main #about .left .info h4 {
        color: var(--button-color);
        font-size: 18px;
    }

    body main #about .left .info p {
        color: var(--hover);
        font-size: 16px;
    }

    body main #about .left .info {
        padding: 0px 50px;
    }

    body main #about .right {
        margin: 10px;
    }

    body main #about .right .box {
        padding: 20px;
    }

    body main #about .right .box h2 {
        font-size: 50px;
        color: var(--hover);
    }

    body main #about .down {
        gap: 5px;
        padding-left: 20px;
    }

    body main #about .down .text h3 {
        color: var(--hover);
        font-size: 22px;
        padding-bottom: 3px;
    }

    body main #about .down .image {
        padding: 10px;
        box-sizing: border-box;
    }

    /* skills */
    body main #skills .box {
        height: 150px;
        width: 200px;
    }

    body main #skills .box h2 {
        font-size: 18px;
        padding: 10px;
    }

    body main #skills .box h6 {
        font-size: 10px;
        padding: 2px 10px;
    }

    body main #skills .web:hover h6:last-child {
        text-indent: 70px;
        transition-duration: 1s;
    }

    body main #skills .specialized:hover h2 {
        text-indent: 75px;
        transition-duration: 1s;
    }

    body main #skills .heading {
        width: 200px;
        height: 100px;
        box-sizing: border-box;
        padding: 5px;
    }

    /* projects */

    /* experience */
    body main #experience {
        gap: 20px;
    }

    body main #experience h2 {
        font-size: 30px;
        padding: 8px 20px;
        margin-bottom: 30px;
    }

    body main #experience p {
        font-size: 12px;
    }

    body main #experience .item {
        padding: 20px;
        height: 10%;
        gap: 10px;
    }

    body main #experience .item .svg {
        width: 40%;
        left: 15%;
    }

    body main #experience .item .svg svg {
        width: 20px;
        height: 20px;
        padding: 15px;
    }

    body main #experience .item .svg p {
        font-weight: 12px;
        color: var(--button-color);
        text-shadow: 0px 0px 10px var(--hover);
    }

    body main #experience .item .content h3 {
        font-size: 16px;
        color: var(--hover);
        font-weight: 600;
    }

    /* services */
    body main #services {
        padding-left: 100px;
        gap: 5px;
    }

    body main #services h3 {
        color: var(--hover);
        font-size: 24px;
        font-weight: 500;
    }

    body main #services .content {
        display: flex;
        flex-direction: column;
    }

    body main #services .content h4 {
        font-size: 18px;
        color: var(--button-color);
    }

    body main #services .content p {
        font-size: 12px;
    }

    body main #services .content svg {
        stroke: var(--button-color);
    }

    /* contact */
    body main #contact .left .heading {
        width: 75%;
        height: 10%;
    }

    body main #contact .left .heading h3 {
        color: var(--button-color);
        font-size: 1.5em;
        font-weight: 500;
        text-shadow: 0px 0px 10px var(--button-color);
    }

    body main #contact .left form {
        width: 90%;
        height: 90%;
        box-sizing: border-box;
        border-radius: 30px;
    }

    body main #contact .left form .input input {
        width: 300px;
        height: 30px;
        margin: 5px;
        padding: 10px;
        box-sizing: border-box;
        border: 2px solid var(--button-color);
        border-radius: 20px;
        background-color: var(--background);
        color: var(--hover);
        font-size: 16px;
    }

    body main #contact .left form .message #message {
        width: 300px;
        margin: 5px;
        padding: 15px;
        box-sizing: border-box;
        padding-bottom: 70px;
    }

    body main #contact .right .email {
        height: 50%;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    body main #contact .right .email h3 svg,
    h3 {
        padding: 0px 10px;
    }

    body main #contact .right .links {
        gap: 10px;
    }

    body main #contact .right .links .link a {
        width: 100%;
        padding: 2px;
    }

    body main #contact .right .links .link a .name p {
        font-size: 20px;
    }
}

























@media (max-width:427px) {
    :root {
        --font: Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif;
        --background: rgb(255, 254, 252);
        --text-color: rgba(9, 9, 9, 0.5);
        --font-size: 12px;
        --button-color: rgb(220, 95, 251);
        --hover: black;
        --hover2: rgb(249, 79, 243);
        /* --button-text:var(--background); */
    }

    /* grid */

    /* home */
    body main #home .info span .text h1:first-child {
        font-size: 40px;
        font-weight: 500;
        color: var(--hover);
    }

    body main #home .info span .text h1:last-child {
        font-size: 60px;
        font-weight: 600;
        color: var(--button-color);
        padding-bottom: 10px;
    }

    body main #home .info span .skill h5 {
        font-size: 20px;
        font-weight: 500;
        display: inline-block;
    }

    body main #home .info .paragraph p:first-child {
        font-size: 30px;
        padding-bottom: 20px;
        color: var(--button-color);
    }

    body main #home .info .paragraph p:last-child {
        line-height: 30px;
    }

    /* about */
    body main #about .left h2 {
        text-align: center;
        padding: 5px;
        box-sizing: border-box;
        font-size: 40px;
        border-bottom: 2px solid var(--text-color);
        color: var(--button-color);
        text-shadow: 0px 0px 50px var(--hover2);
    }

    body main #about .left h3 {
        padding: 10px 20px;
        color: var(--hover);
        font-size: 18px;
    }

    body main #about .left .info h4 {
        color: var(--button-color);
        font-size: 18px;
    }

    body main #about .left .info p {
        color: var(--hover);
        font-size: 16px;
    }

    body main #about .left .info {
        padding: 0px 50px;
    }

    body main #about .down {
        grid-column: 1/3;
        grid-row: 2/3;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border: 2px solid var(--button-color);
        border-radius: 20px;
        display: flex;
        align-items: center;
        gap: 5px;
        padding-left: 20px;
        box-sizing: border-box;
    }

    body main #about .down .text h3 {
        color: var(--hover);
        font-size: 22px;
        padding-bottom: 3px;
    }

    /* skills */
    body main #skills .box {
        height: 150px;
        width: 200px;
        border: 2px solid var(--hover);
        background-color: var(--background);
        border-radius: 10px;
        box-shadow: 0px 0px 20px 5px var(--button-color);
    }

    body main #skills .box h2 {
        font-size: 20px;
        padding: 10px;
        color: var(--hover);
    }

    body main #skills .box h6 {
        font-size: 10px;
        padding: 2px 10px;
    }

    body main #skills .web:hover h6:last-child {
        text-indent: 0px;
        transition-duration: 0s;
    }

    body main #skills .specialized:hover h2 {
        text-indent: 0px;
        margin-top: 15px;
        transition-duration: 1s;
    }

    /* projects */

    /* experience */

    /* services */

    /* contact */
    body main #contact .right .links .link {
        background-color: var(--background);
    }

    body main #contact .right .links .link a {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--text-color);
        box-sizing: border-box;
        padding: 2px;
    }

    body main #contact .right .links .link a .name {
        color: var(--text-color);
    }

    body main #contact .right .links .link a .name p {
        font-size: 24px;
    }

    body main #contact .right .links .link a span svg {
        stroke: var(--text-color);
    }

    body main #contact .right .links .link:hover .name p {
        color: var(--button-color);
    }

    body main #contact .right .links .link:hover span svg {
        stroke: var(--button-color);
    }

    body main #contact .right .links .link a:hover {
        border-color: var(--button-color);
        transform: translateY(-7px);
        transition-duration: 0.5s;
    }
}